app:
  path: /abc/xyz      # path to the app under test
github:
  repo: user/repo     # repository to watch
  user: bob           # look for @bob mentions
  token: abc123       # api token
# hook_secret: abcxyz # secret for github hooks
redis:
  password: xyz       # redis password, if needed
#credentials:         # basic auth credentials for /status page
#  user: u
#  password: p
limits:
  queries: 75         # max number of queries in a request before warning is raised
  latency: 4000       # max request latency before warning is raised
  change_factor: 0.2  # latency change threshold triggering alternate phrasing
defaults: -n3         # default perf_check arguments
